PORT=
DATABASE_URL=
JWT_SECRET=
FRONTEND_BASE_URL=
ADMIN_FRONTEND_BASE_URL=
BACKEND_PUBLIC_URL=
ALLOWED_ORIGINS=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAIL_FROM=
SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_ROLE=MANAGER
